/*.App {
  text-align: center;
}*/

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.profile 
{
  border-bottom: 1px solid lightgrey;
}
.gallery
{
  display:flex;
  flex-wrap: wrap;
  justify-content:space-around;
  
}
.home-card 
{
max-Width:650px;
height: max-content;


}


.post-card 
{
 margin:20px auto;

}
.homeimg
{
  max-Width:600px ;
  margin:20px auto;
 margin-left: 25px;
 
 
 
 
 
 
 
 
}

 .card> .description
 {
  margin-left: 25px;
 }

.item{
  width: 30%;
  margin-top: 1px;
}

.insta-title
{
 font-family: 'Pacifico', cursive;
 left: 8px;
}



.mycard{
  margin-top: 30px;
}

.auth-card
{
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}

.App-header
{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-wrapper
{
  background-color: black;
}
.App-link
{
  
  color: #61dafb;
  
}

h2
{
  font-family: 'Pacifico', cursive;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
